[submodule "src/extern/glfw"]
	path = src/extern/glfw
	url = https://github.com/glfw/glfw
[submodule "src/extern/glm"]
	path = src/extern/glm
	url = https://github.com/g-truc/glm
[submodule "src/extern/imgui/imgui"]
	path = src/extern/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/extern/enet"]
	path = src/extern/enet
	url = https://github.com/lsalzman/enet
[submodule "src/extern/bytepack"]
	path = src/extern/bytepack
	url = https://github.com/farukeryilmaz/bytepack
[submodule "src/extern/picosha2"]
	path = src/extern/picosha2
	url = https://github.com/okdshin/PicoSHA2
